*{
    box-sizing: border-box;
}
body{
    height: 100%;
    background-color: #FFE7BF;
}
h1{
    text-align: center;
    margin: 1rem 0 3rem;
}
.title{
    color: #A10035;
    font-weight: 400;
    font-size: 120px;
}
.inputDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    padding: 0.5rem 1rem;
    height: 50px;
    border-radius: 10px;
    width: 320px;
    margin: 0.40rem;
    font-size: 1.15rem;
}
.add{
    border: none;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    background-color: #FF869E;
    color:#FFE7BF;
    cursor: pointer;
    margin: 0.25rem;
}
.add:hover{
    background: #A10035;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}
.itemInput{
    background: #f3b8b8cc;
    border: 3px solid #e99c9c;
    border-radius: 10px;
    padding: 10px;
    color: #000;
    margin-top: 10px;
    font-size: 20px;
    width: 315px;
}
.remove{
    background: none;
    border: none;
    color: #a10035;
    font-size: 2rem;
    margin-left: 30px;
    cursor: pointer;
}
.removeButton{
    margin-top: 35px;
    color: #FFE7BF;
    text-transform: uppercase;
    text-decoration: none;
    background: #FF869E;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    border: none;
    font-size: 15px;
    transition: all 0.4s ease 0s;
    height: 55px;
    width: 150px;
}
.removeButton:hover{
    background: #A10035;
    letter-spacing: 1px;

}